
.navbar-custom {
    background-color: #003bbb;
}

.subtitle {
    color: #8b8b8b;
    font-style: italic;
}

.table thead th {
    background-color: #003bbb;
    color: white;
}

.table-hover tbody tr:hover {
    background-color: #f2f2f2;
}