{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Welcome to Parra's Dev System!</h1>
        <a class="btn btn-primary mt-4" href="{% url 'todo_list' %}">See To-Do List</a>
    </div>
</div>
{% endblock %}
