<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="{% url 'todo_list' %}">Parra's Dev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pendingDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pending
                </a>
                <div class="dropdown-menu" aria-labelledby="pendingDropdown">
                    <a class="dropdown-item" href="{% url 'todo_list' %}">All</a>
                    <a class="dropdown-item" href="{% url 'todo_list_ids' %}">By ID</a>
                    <a class="dropdown-item" href="{% url 'todo_list_ids_titles' %}">By ID & Title</a>
                    <a class="dropdown-item" href="{% url 'todo_list_ids_users' %}">By ID & User</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="resolvedDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resolved
                </a>
                <div class="dropdown-menu" aria-labelledby="resolvedDropdown">
                    <a class="dropdown-item" href="{% url 'todo_res_ids_titles' %}">By ID & Title</a>
                    <a class="dropdown-item" href="{% url 'todo_res_ids_users' %}">By ID & User</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="unresolvedDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Unresolved
                </a>
                <div class="dropdown-menu" aria-labelledby="unresolvedDropdown">
                    <a class="dropdown-item" href="{% url 'todo_unres_ids_titles' %}">By ID & Title</a>
                    <a class="dropdown-item" href="{% url 'todo_unres_ids_users' %}">By ID & User</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
