{% extends 'base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<h1 class="mt-5 text-center">To-Do List</h1>
<a class="btn btn-outline-success mt-3" href="{% url 'todo_new' %}">Add New To-Do</a>

<div class="d-flex justify-content-between align-items-center mt-5">
    <h2>All To-Do's</h2>
    <div class="input-group input-group-sm" style="max-width: 220px;">
        <div class="input-group-prepend">
            <label class="input-group-text" for="sortSelect">Sort by:</label>
        </div>
        <select class="custom-select" id="sortSelect">
            <option value="-1">- select an option -</option>
            <option value="0">ID</option>
            <option value="1">Title</option>
            <option value="2">Description</option>
            <option value="3">User</option>
            <option value="4">Status</option>
        </select>
    </div>
</div>

<div class="table-responsive mx-auto">
    <table class="table table-bordered table-hover text-center" id="todoTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>User</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td><strong>{{ todo.id }}</strong></td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.user.username }}</td>
                <td>
                    {% if todo.resolved %}
                    <span class="badge badge-success">Resolved</span>
                    {% else %}
                    <span class="badge badge-danger">Unresolved</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'todo_edit' todo.id %}">Edit</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'todo_delete' todo.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- List of resolved todos -->
<!--
<h2 class="mt-5">Resolved To-Do's</h2>
<div class="table-responsive mx-auto">
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in resolved_todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
-->
<!-- List of unresolved todos -->
<!--
<h2 class="mt-5">Unresolved To-Do's</h2>
<div class="table-responsive mx-auto">
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in unresolved_todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
-->
<script>
    document.getElementById('sortSelect').addEventListener('change', function() {
        var table = document.getElementById('todoTable').getElementsByTagName('tbody')[0];
        var rows = Array.from(table.getElementsByTagName('tr'));
    
        var sortIndex = this.value;
        if (sortIndex === -1) return;
        rows.sort(function(a, b) {
            var aText = a.getElementsByTagName('td')[sortIndex].innerText.toLowerCase();
            var bText = b.getElementsByTagName('td')[sortIndex].innerText.toLowerCase();
    
            if (sortIndex == 0 || sortIndex == 3) {
                return parseInt(aText) - parseInt(bText);
            }
    
            if (aText < bText) return -1;
            if (aText > bText) return 1;
            return 0;
        });
    
        table.innerHTML = '';
        rows.forEach(function(row) {
            table.appendChild(row);
        });
    });
</script>
{% endblock %}